<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
        <nav th:replace="~{layout :: header}"></nav>

        <div>
            <h2>Faça login no sistema</h2>
        </div>

        <div th:if="${param.error}">
            Nome ou senha inválidos.
        </div>
        <div th:if="${param.logout}">
            Você deslogou.
        </div>

        <form th:action="@{/usuario/}" method="post">
            <div>
                <label for="nome">Email:</label>

                <input type="text" placeholder="Seu email" name="email">
            </div>

            <div>
                <label for="senha">Senha</label>

                <input type="text" placeholder="Sua senha" name="senha">
            </div>

            <button id="btnSalvar" type="submit">Entrar</button>
        </form>

        <p th:if="${erro != null}" th:text="${erro}"></p>
        <p th:if="${erroBinding != null}" th:text="${erroBinding}"></p>
    </body>
</html>