<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carrinho</title>
    </head>
    <body>
        <nav th:replace="~{layout :: header}"></nav>

        <div>
            <h2>Itens do Carrinho</h2>
        </div>

        <div>
            <label for="cod">Código</label>
            <p th:text="${carrinho.id}"></p>

            <label for="cod">Custo total</label>
            <p th:text="${carrinho.custoTotal}"></p>
        </div>

        <div th:if="${param.erro}">
            Item não encontrado.
        </div>

        <div th:if="${param.sucesso}">
            Item removido com sucesso.
        </div>

        <h3>Itens do Carrinho</h3>

        <table th:if="${carrinho}">
            <tr>
                <th>Código</th>
                <th>Custo</th>
                <th>Quantidade</th>
                <th>Produto</th>
                <th>Categoria</th>
                <th>Imagem</th>
              </tr>
              <tr th:each="e : ${carrinho.itens}">
                <td th:text="${e.id}"></td>
                <td th:text="${e.custo}"></td>
                <td th:text="${e.quantidade}"></td>
                <td th:text="${e.produto.nome}"></td>
                <td th:text="${e.produto.categoria.nome}"></td>
                <td><img th:src="${e.produto.imagem}" style="width:100px;"></td>
                <td><a th:href="@{carrinho/remover/{id}(id=${e.id})}">Remover</a></td>
              </tr>
        </table>
    </body>
</html>