<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/cadastro.css">
        <title>Nova Pagamento</title>
    </head>
    <body>
        <nav th:replace="~{layout :: header}"></nav>

        <div>
            <h2>Cadastrar Método de Pagamento</h2>
            <button>Voltar</button>
        </div>

        <form th:action="@{/pagamento/salvar}" th:object="${elemento}" method="post">
            <div>
                <label for="nome">Nome:</label>
                
                <input type="text" placeholder="Nome:" th:field="*{nome}">
                <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Erro de nome</p>
            </div>

            <button id="btnSalvar" type="submit">Salvar</button>
        </form>
    </body>
</html>