<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../static/css/cadastro.css"> -->
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Layout</title>
</head>
<body>
    <nav th:fragment="header">
        <div id="header">
            <h2><strong>Motor Tycoon</strong></h2>

            <ul id="options">
                <li><a th:href="@{/equipamento}">Equipamento</a></li>
                <li><a th:href="@{/categoria}">Categoria</a></li>
                <li><a th:href="@{/pagamento}">Pagamento</a></li>    
                <li><a th:href="@{/usuario}">Usuário</a></li>    
                <li><a th:href="@{/itemPedido}">Novo Pedido</a></li>    
            </ul>

            <ul id="login">
                <li><a th:href="@{/usuario/novo}">Cadastrar</a></li>
                <li><a th:href="@{/usuario/login}">Login</a></li>
            </ul>
        </div>
    </nav>
    
    <div id="corpo">
        <div id="outer">
    
        </div>

        <div id="inner">
           <!-- <p>Links</p> -->
           <p>Bem vindo</p>
           <p>Selecione 1 link acima</p>
        
        </div>
    </div>
</body>
</html>