<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div th:replace="~{layout :: css}"></div>
        <link rel="stylesheet" href="/css/equipamento.css">
        <title>Produto</title>
    </head>
    <body>
        <nav th:replace="~{layout :: header}"></nav>

        <div class="equipamento-view container">
            <h2>Visualizando produto: <span th:if="${elemento}" th:text="${elemento.nome}"></span></h2>

            <div class="equipamento-details" th:if="${elemento}">
                <div class="imagem-container">
                    <img th:src="@{${elemento.imagem}}" alt="Imagem do produto" class="equipamento-image">
                </div>

                    <ul class="equipamento-view-ul">
                        <li>Código: <span th:text="${elemento.id}"></span> </li>
                        <li>Nome: <span th:text="${elemento.nome}"></span> </li>
                        <li>Custo: <span th:text="${elemento.custo}"></span> </li>
                        <li>Estoque: <span th:text="${elemento.estoque}"></span> </li>
                        <li>Categoria: <span th:text="${elemento.categoria.nome}"></span> </li>
                    </ul>

                <form th:action="@{/carrinho/adicionar}" th:object="${itemCarrinho}" class="equipamento-view-form" method="post">
                    <div>
                        <input readonly hidden type="text" th:field="*{produto.id}">
                        <input readonly hidden type="text" th:field="*{produto.nome}">
                        <input readonly hidden type="text" th:field="*{produto.custo}">
                        <input readonly hidden type="text" th:field="*{produto.estoque}">
                        <input readonly hidden type="text" th:field="*{produto.categoria}">
                        <input readonly hidden type="text" th:field="*{produto.imagem}">
                    </div>
                    
                    <div th:if="${param.quantidadeMenor}">
                        Selecione pelo menos uma unidade.
                    </div>
                    <div th:if="${param.quantidadeEstoque}">
                        Quantidade selecionada excede o estoque.
                    </div>

                    <div class="quantidade">
                       <div>
                         <label for="quantidade">Quantidade:</label>

                        <input type="number" placeholder="Quantidade:" min="1" max="${elemento.estoque}" th:field="*{quantidade}" class="inpute">
                        <p th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}" >Erro de quantidade</p>
                       </div>
                        <button id="btnSalvar" type="submit">Adicionar ao carrinho</button>
                    </div>
        
                </form>

                <p th:if="${erro}" th:text="${erro}">
                    Erro
                </p>
            </div>
        </div>
    </body>
</html>