<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div th:replace="~{layout :: css}"></div>
        <link rel="stylesheet" href="/css/auth.css">
        <title>Login - Motor Tycoon</title>
    </head>
    <body>
        <nav th:replace="~{layout :: header}"></nav>

        <div class="auth-container">
            <div class="auth-form">
                <h2>Faça login no sistema</h2>

                <div class="auth-messages">
                    <div class="message error" th:if="${param.error}">
                        Nome ou senha inválidos.
                    </div>
                    <div class="message info" th:if="${param.logout}">
                        Você deslogou.
                    </div>
                    <div class="message success" th:if="${param.registered}">
                        Usuário registrado com sucesso.
                    </div>
                    <div class="message success" th:if="${param.redefined}">
                        Senha redefinida com sucesso.
                    </div>
                </div>

                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" id="email" placeholder="Seu email" name="username" required>
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha:</label>
                        <input type="password" id="senha" placeholder="Sua senha" name="password" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Entrar</button>
                </form>

                <div class="auth-links">
                    <a th:href="@{/login/registrar}">Registre-se</a>
                    <a th:href="@{/login/redefinir}">Esqueci a senha</a>
                </div>
            </div>
        </div>
    </body>
</html>