<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/cadastro.css">
        <title>Novo Usuario</title>
    </head>
    <body>
        <nav th:replace="~{layout :: header}"></nav>

        <div>
            <h2>Cadastre-se</h2>

            <button>Voltar</button>
        </div>

        <form th:action="@{/login/registrar}" th:object="${elemento}" method="post">
            <div>
                <label for="nome">Nome</label>

                <input type="text" placeholder="Nome completo:" th:field="*{nomeCompleto}">
                <p th:if="${#fields.hasErrors('nomeCompleto')}" th:errors="*{nomeCompleto}">Erro de nome</p>
            </div>

            <div>
                <label for="email">Email</label>

                <input type="text" placeholder="Email:" th:field="*{email}">
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Erro de email</p>
            </div>

            <div>
                <label for="dataNascimento">Data de Nascimento</label>

                <input type="date" placeholder="Data de Nascimento:" th:field="*{dataNascimento}">
                <p th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}">Erro de data</p>
            </div>

            <div>
                <label for="endereco">Endereço</label>

                <input type="text" placeholder="Endereço:" th:field="*{endereco}">
                <p th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}">Erro de endereco</p>
            </div>

            <div>
                <label for="senha">Senha</label>

                <input type="text" placeholder="Senha:" th:field="*{senha}">
                <p th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">Erro de senha</p>
            </div>

            <div>
                <label for="cpf">CPF</label>

                <input type="text" placeholder="CPF:" th:field="*{cpf}">
                <p th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}">Erro de CPF</p>
            </div>

            <div>
                <label for="formaPagamento">Formas de pagamento</label>

                <select th:field="*{formaPagamento}" multiple="multiple">
                    <option th:each="forma : ${listaPagamento}" th:value="${forma.id}" th:text="${forma.nome}"></option>
                </select>
                <p th:if="${#fields.hasErrors('formaPagamento')}" th:errors="*{formaPagamento}">Erro de forma de pagamento</p>
            </div>
        
            <button id="btnSalvar" type="submit">Salvar</button>
        </form>

        <p class="error" th:if="${erro != null}" th:text="${erro}"></p>
        <p class="errorBinding" th:if="${erroBinding != null}" th:text="${erroBinding}"></p>
    </body>
</html>