<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div th:replace="~{layout :: css}"></div>
        <link rel="stylesheet" href="/css/home.css">
        <title>Home - Motor Tycoon</title>
    </head>
    <body>
        <nav th:replace="~{layout :: header}"></nav>

        <div class="home container">
            <h1>Bem vindo a Motor Tycoon</h1>

            <h2>Produtos</h2>

            <div th:if="${lista.size()} > 0" class="produto">
                <ul th:each="e : ${lista}">
                    <li><img th:src="${e.imagem}" alt="Imagem do Produto"></li>
                    <li>Código: <span th:text="${e.id}"></span> </li>
                    <li>Nome: <span th:text="${e.nome}"></span> </li>
                    <li>Custo: <span th:text="${e.custo}"></span> </li>
                    <li>Estoque: <span th:text="${e.estoque}"></span> </li>
                    <li>Categoria: <span th:text="${e.categoria.nome}"></span> </li>
                    <a th:href="@{equipamento/view/{id}(id=${e.id})}" class="btn">Comprar</a>
                </ul>
            </div>

            <div class="no-products" th:if="${lista.size()} == 0">
                <h3>Não há produtos cadastrados</h3>
                <p>Parece que não há produtos disponíveis no momento. Volte mais tarde!</p>
            </div>
        </div>
    </body>
</html>